.main-content-home{
    background: url('../../images/home/background-home-desktop.jpg');
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 101% 101%;
}

.circle{
    display: flex;
    position: absolute;
    color: rgb(68, 109, 171);
    border-radius: 50%;
    background-color: white;
    width: 225px;
    height: 225px;
    align-items: center;
    justify-content: center;
    top: 60%;
    right: 13%;
    font-size: 25px;
}

.sentence-one{
    position: absolute;
    top: 50%;
    left: 10%;
    color: rgb(204, 198, 198);
}

.space{
    position: absolute;
    top: 52%;
    left: 12%;
    color: white;
    font-size: 80px;
    font-weight: 200;
}

.home-paragraph{
    position: absolute;
    top: 70%;
    left: 12%;
    color:rgb(204, 198, 198);
}


@media screen and (max-width: 768px){
    .main-content-home{
        background: url('../../images/home/background-home-tablet.jpg');
        background-size: 100% 100%;
    }

    .sentence-one{
        top: 20%;
        left: 41%;
        font-size: 15px;;
    }

    .space{
        top: 19%;
        left: 36%;
        font-size: 100px;
    }

    .home-paragraph{
        top: 40%;
        left: 34%;
        text-align: center;
        font-size: 12px;
    }
    
    .circle{
        width: 165px;
        height: 165px;
        top: 67%;
        left: 42%;
    }
}