.crew-destination{
    display: flex;
    flex-direction: row;
    width: 30%;
    position: absolute;
    bottom: 15%;
    left: 15.5%;
}

.crew-nav{
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    border: 2px solid white;
}

.des-nav{
    width: 250px;
}

.crew-a:visited > .crew-nav, .crew-a:active > .crew-nav, .crew-a:focus > .crew-nav{ 
    background-color: white;
}

@media screen and (max-width: 768px){
    .crew-destination{
        bottom: 48%;
        left: 41%;
        width: 20%;
    }
    
    .crew-nav{
        width: 10px;
        height: 10px;
    }
}