.moon-img{
    width: 25%;
    position: absolute;
    top: 40%;
    left: 25%;
}

.description-paragraph{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35%;
    right: 7%;
    color: white;
    text-align: left;
    width: 34%;
}

.moon-caps{
    display: flex;
    font-size: 50px;
}

.distance-travel{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.header{
    font-size: 12px;
}

.time{
    font-size: 30px;
}

.planet-text{
    font-size: 70px;
}

@media screen and (max-width:768px){
    .title{
        top: 15%;
        left: 3%;
    }

    .planet-text{
        font-size: 60px;
    }

    .moon-img{
        top: 22%;
        left: 38%;
    }

   .description-paragraph{
        top: 58%;
        right: 15%;
        width: 70%;
        text-align: center;
   }

   .main-content-des{
        background-image: url('../../../../images/destination/background-destination-tablet.jpg');
    }
}