.main-content-des{
    height: 100vh;
    background-image: url('../../../images/destination/background-destination-desktop.jpg');
    width: 100%;
}

.title{
    position: absolute;
    top: 25%;
    left: 20%;
    color: white; 
}