.main-content-tech{
    height: 100vh;
    background-image: url('../../../images/technology/background-technology-desktop.jpg');
    width: 100%;
}

.tech-img{
    position: absolute;
    right: 0;
    width: 30%;
    top: 30%;
}

.tech-main-paragraph{
    color: white;
    position: absolute;
    top: 40%;
    width: 35%;
    left: 30%;
}

.tech-title{
    font-size: 50px;
}