.crew-img{
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 70%;
}

.main-text{
    position: absolute;
    color: white;
    width: 35%;
    top: 40%;
    left: 20%;
}

.position{
    font-size: 25px;
    color: rgb(158, 158, 158);
}

.crew-name{
    font-size: 35px;
}

.crew-description{
    padding-top: 25px;
    color: rgb(158, 158, 158);
}

@media screen and (max-width: 768px){
    .main-text{
        top: 20%;
        left: 20%;
        width: 60%;
        text-align: center;
    }   

    .position{
        font-size: 20px;
    }

    .crew-name{
        font-size: 30px;
    }

    .main-text{
        font-size: 14px;
    }
    
    .crew-description{
        padding-top: 5px;
    }

    .crew-img{
        height: 50%;
        right: 35%;
    }

    
}