.nav-destination{
    display: flex;
    flex-direction: row;
    width: 30%;
    position: absolute;
    top: 30%;
    right: 10%;
}

.des-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15%;
    padding-right: 20%;
    color: white;
    height: 40px;
    background-color: transparent;
}

.des-a{
    color: rgb(121, 121, 121);
    padding-top: 6px;
    text-decoration: none;
    font-size: 18px;
}

.des-a:hover{
    color: white;
}

.des-a:visited, .des-a:active, .des-a:focus { 
    border-bottom: 5px solid white;
}