.main-navigation{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    top: 5%;
    right: 0px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(52, 69, 71);
    width: 100%;
    padding-left: 15%;
    padding-right: 20%;
    height: 75px;
    opacity: 0.5;
    color: white;
}

.nav-a{
    color: white;
    height: 100%;
    padding-top: 22px;
    text-decoration: none;
}

.nav-a:hover{
    color: white;
}

.nav-a:visited, .nav-a:active, .nav-a:focus { 
    
    border-bottom: 5px solid white;
}